<header>
  <div class="header-wrapper">
    <div class="app-logo-container">
      <%= link_to image_tag("PLEASE TEACH ME LOGO",alt: "PleaseTeachMe logo",width:"200px",id: "app-logo"), root_path %>
    </div>
    <nav>
      <div class="nav-container">
        <ul class="nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to 'help', static_pages_help_path %></li>
          <li><%= link_to 'contact', static_pages_contact_path %></li>
          <% if logged_in? %>
            <li><%= link_to "ログアウト" , logout_path, method: :delete %></li>
            <li><%= link_to "登録内容編集", edit_user_path(current_user) %></li>
          <% else %>
            <li><%= link_to "ログイン", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>