<header>
  <div class="header-wrapper">
    <div class="app-logo-container">
      <%= link_to embedded_svg("PLEASE TEACH ME LOGO.svg",
      class: "application-logo",alt: "PleaseTeachMe logo",
      width:"200px"), root_path %>
    </div>
    <nav>
      <div class="nav-container">
          <div class="static-pages-nav">
            <ul class="nav">
              <li><%= link_to 'ヘルプ', static_pages_help_path %></li>
              <li><%= link_to 'お問合せ', static_pages_contact_path %></li>
            </ul>
          </div>
          <div class="user-nav-wrapper">
            <button id="user-nav-button" type="button">
              <div>
                <%= image_tag("user-menu-logo",class: "user-menu-logo")%>
              </div>
            </button>
            <div class="user-nav" id="user-nav">
              <ul>
                <li><%= link_to '登録する', new_user_path , class: "signup-btn"%></li>
                <%if logged_in? %>
                  <li><%= link_to "ログアウト" , logout_path, method: :delete %></li>
                  <li><%= link_to "登録内容編集", edit_user_path(current_user) %></li>
                <% else %>
                  <li><%= link_to "ログイン", login_path %></li>
                <% end %>
              </ul>
            </div>
          </div>
      </div>
    </nav>
  </div>
</header>