<header>
  <div class="header-wrapper">
    <div class="app-logo-container">
      <%= link_to embedded_svg("PLEASE TEACH ME LOGO.svg",
      class: "application-logo",alt: "PleaseTeachMe logo",
      width:"200px"), root_path %>
    </div>
    <nav>
      <div class="nav-container">
        <ul class="nav">
          <div class="static-pages-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to 'help', static_pages_help_path %></li>
            <li><%= link_to 'contact', static_pages_contact_path %></li>
          </div>
          <div class="user-nav">
<%
=begin
%>
            <%if logged_in? %>
              <li><%= link_to "ログアウト" , logout_path, method: :delete %></li>
              <li><%= link_to "登録内容編集", edit_user_path(current_user) %></li>
            <% else %>
              <li><%= link_to "ログイン", login_path %></li>
            <%= end %>
<%
=end
%>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</header>